{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block head %}

<!--  -->
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.6.9/firebase-auth.js"></script>

<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
    import { getAuth, RecaptchaVerifier } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyAdVK6KqM7UwgARDKW318VxSeDVOm7DJC0",
        authDomain: "fastparcel-ef1a8.firebaseapp.com",
        projectId: "fastparcel-ef1a8",
        storageBucket: "fastparcel-ef1a8.appspot.com",
        messagingSenderId: "910726436803",
        appId: "1:910726436803:web:2659b21899d949fa698f76"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    firebase.initializeApp(firebaseConfig);

    const auth = getAuth();

    window.recaptchaVerifier = new RecaptchaVerifier('recaptcha-container', {}, auth);
</script>
{% endblock head %}

{% block main %}
<b class="text-secondary">Basic information</b></br>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form customer_form %}
            <input type="hidden" name="action" value="update_profile">
            <button type="submit" class="btn btn-main">Save</button>
        </form>
    </div>
</div>

<!-- Change Password -->
<b class="text-secondary">Change Password</b></br>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form password_form %}

            <input type="hidden" name="action" value="update_password">
            <button type="submit" class="btn btn-main ">Save</button>
        </form>
    </div>
</div>

<!-- Phone number -->
<b class="text-secondary">Phone Number</b></br>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">

        <div id="recaptcha-container"></div>
        <div id="get-code" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your phone number">
            <div class="input-group-append"><button class="btn btn-main" type="button">Send Code</button></div>
        </div>

        <div id="verify-code" class="input-group mb-3 d-none">
            <input type="text" class="form-control" placeholder="Verification Code">
            <div class="input-group-append"><button class="btn btn-main" type="button">Verify Code</button></div>
        </div>

    </div>
</div>

<script>

    $("#get-code button").on('click', function () {
        const phoneNumber = $('#get-code input').val();
        console.log(phoneNumber);
        firebase.auth().signInWithPhoneNumber(phoneNumber, window.recaptchaVerifier)
            .then((confirmationResult) => {
                // SMS sent. Prompt user to type the code from the message, then sign the
                // user in with confirmationResult.confirm(code).
                console.log(confirmationResult);
                window.confirmationResult = confirmationResult;
                // ...
                $("#get-code").addClass("d-none");
                $("#verify-code").removeClass("d-none");
            }).catch((error) => {
                toast(error.message, 'error');
            });

    });

    $("#verify-code button").on('click', function () {
        const code = $('#verify-code input').val();

        confirmationResult.confirm(code).then((result) => {
            // User signed in successfully.
            const user = result.user;
            console.log(user.phoneNumber);

            user.getIdToken().then(function (idToken) {
                console.log(idToken);
            })
            // ...
        }).catch((error) => {
            toast(error.message, 'error');
        });
    })
</script>

<!-- <script>
    // window.recaptchaVerifier = new app.auth.RecaptchaVerifier('recaptcha-container');

    
</script> -->


{% endblock main %}