{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center mt-5 mb-5">Welcome to fast parcel</h1>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Customer</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="{% url 'customer:home' %}" class="btn btn-main">Details</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Courier</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="{% url 'courier:home' %}" class="btn btn-main">Details</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}